# Xcode
*.xcodeproj/
xcuserdata/
*.xcworkspace/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# OS
.DS_Store
*.swp
*~
